<div id="container" ng-controller="ListController">
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href=""><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
								<li><a href=""><i class="fa fa-envelope"></i> info@domain.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href=""><i class="fa fa-facebook"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-linkedin"></i></a></li>
								<li><a href=""><i class="fa fa-dribbble"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="#/"><img src="images/home/logo.png" alt="" /></a>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<!-- <li><a href=""><i class="fa fa-user"></i> Account</a></li> -->
								<li ng-show="loggedIn"><a href="#/wishlist"><i class="fa fa-star"></i> Wishlist</a></li>
								<li ng-show="loggedIn"><a href=""><i class="fa fa-crosshairs"></i> Checkout</a></li>
								<li ng-show="loggedIn"><a href="#/cart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
								<li ng-hide="loggedIn"><a href="#/login"><i class="fa fa-lock"></i> Login</a></li>
								<li ng-show="loggedIn"><a href=""><i class="fa fa-lock"></i>{{username}}</a></li>
								<li ng-show="loggedIn" ng-click="logout()"><a href="#/">Logout</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="#/" class="active">Home</a></li>
								<li class="dropdown"><a href="">Chocolates<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li ng-repeat="choc in chocolate"><a href="">{{choc.name}}</a></li>
                                    </ul>
                                </li>
                                <li> <a href="">Cakes<i class="fa fa-angle-down"></i></a>
                                	<ul role="menu" class="sub-menu">
                                        <li ng-repeat="cake in cake"><a href="">{{cake.name}}</a></li>
                                    </ul>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->

	 <div id="myCarousel" class="carousel slide" data-ride="carousel">
	      <!-- Indicators -->
	      <ol class="carousel-indicators">
	        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	        <li data-target="#myCarousel" data-slide-to="1"></li>
	        <li data-target="#myCarousel" data-slide-to="2"></li>
	      </ol>
	      <div class="carousel-inner" role="listbox">
	        <div class="item active">
	          <img class="first-slide" src="images/home/image1.jpg" alt="First slide"></img>
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>Fulfill your Inner Dark Temptations</h1>
	              <h2 class="hello">Who'll fall in Love, i'd rather fall in chocolate.</h2>
	                <p><a class="btn btn-lg btn-primary" href="" role="button">Buy Now</a></p>
	            </div>
	          </div>
	        </div>
	        <div class="item">
	          <img class="second-slide" src="images/home/image3.jpg" alt="Second slide"></img>
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>Deadly chocolate</h1>
	              <p></p>
	              <p><a class="btn btn-lg btn-primary" href="" role="button">Buy Now</a></p>
	            </div>
	          </div>
	        </div>
	        <div class="item">
	          <img class="third-slide" src="images/home/image.jpg" alt="Third slide"></img>
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>Sinfully chocolaty</h1>
	              <p></p>
	              <p><a class="btn btn-lg btn-primary" href="" role="button">Buy Now</a></p>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div><!-- /.carousel -->

	    <section>
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="left-sidebar">
							<h2>Category</h2>
							<div class="panel-group category-products" id="accordian" ng-controller="CategoriesController as cc">
								<div class="panel panel-default" ng-repeat="cat in cc.categories">
									<div class="panel-heading">
										<h4 class="panel-title"><a href="">{{cat.name}}</a></h4>
									</div>
								</div>
							</div><!--/category-products-->
						
							<div class="brands_products"><!--brands_products-->
								<h2>Brands</h2>
								<div class="brands-name" ng-controller="BrandsController as bc">
									<ul class="nav nav-pills nav-stacked" ng-repeat="brand in bc.brands">
										<li><a href="">{{brand.name}} <span class="pull-right">(50)</span></a></li>
									</ul>
								</div>
							</div><!--/brands_products-->					
						</div>
					</div>


					<div class="col-sm-9 padding-right">
						<div class="features_items"><!--features_items-->
							<h2 class="title text-center">Features Items</h2>
							<div class="col-sm-4" ng-repeat="prod in products">
								<div class="product-image-wrapper" >
									<div class="single-products">
											<div class="productinfo text-center">
												<img src={{prod.img}} alt="" />
												<h2>{{prod.price}}</h2>
												<p>{{prod.name}}</p>
												<a href="" ng-show="loggedIn" class="btn btn-default add-to-cart" ng-click="addcart(prod.productId,prod.price,prod.name,prod.img)"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											<div class="product-overlay">
												<div class="overlay-content">
													<h2>{{prod.price}}</h2>
													<p>{{prod.name}}</p>
													<a href="#/product/{{prod.productId}}" class="btn btn-default add-to-cart"></i>View Product Details</a>
													<p ng-show="loggedIn" class="btn btn-default add-to-cart" ng-click="addcart(prod.productId,prod.price,prod.name,prod.img)"><i class="fa fa-shopping-cart"></i>Add to cart</p>
												</div>
											</div>
									</div>
									<div class="choose">
										<ul class="nav nav-pills nav-justified">
											<li><a href="" ng-show="loggedIn" ng-click="addwishlist(prod.productId,prod.name,prod.description,prod.img,prod.price)"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										</ul>
									</div>
								</div>
							</div>	
						</div><!--features_items-->
					</div>
					
				</div>
			</div>
		</section>
</div>


